<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <div sec:authentication="principal.authorities">
            The value of the "name" property of the authentication object should appear here.
        </div>
        <form sec:authorize="hasAuthority('ADMIN')==false" action="/mod" method="get">
            <p>old<input name="password" type="password"></p>
            <p>new<input name="password1" type="password"></p>
            <p>new 2<input name="password2"  type="password"></p>
            <input type="submit" value="edit"/>
        </form>
        <form  sec:authorize="hasAuthority('ADMIN')"action="/mod2" method="get">
            <input hidden="hidden" name="id" th:value="${idUser}">
            <p>new<input name="password1" type="password"></p>
            <p>new 2<input name="password2"  type="password"></p>
            <input type="submit" value="edit"/>
        </form>
    </body>
</html>